@keyframes fadeToNearBlack{

to { background: rgba(0,0,0,0.9); }

}

@keyframes goBig { to { opacity: 1; } }

nav { display: flex; }

nav a { display: block; flex: 1; }

nav a img, dialog img { width: 100%; height: auto; }

dialog { position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); border: none; opacity: 0; }

dialog button { border: none; background: none; font-size: 1.2rem; }

dialog[open] {

animation: goBig 1s .4s forwards;

width: 70%; margin: auto;

max-width: 700px;

}

dialog[open]::backdrop { animation: fadeToNearBlack 1s forwards; }

.backdrop { animation: fadeToNearBlack 1s forwards; }

dialog img { width: 100%; height: auto; }


